<html>

   
   <head>
      <title>Sample Render Template</title>


      </head>
   
   <body bgcolor = "#FFFFFF">
	
      <div align = "center">
          <table>
                <tr><td>Discord Username: <%= uname %></td></tr>
		  </table>
      </div>
   </body>
</html>